<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Open Graph Data -->
  <meta property="description" name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
  <meta property="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}
  {% if page.banner_image and page.banner_image != "" %}
  <meta property="og:image" content="{{ page.banner_image }}" />
  <meta property="twitter:image" content="{{ site.url }}{{ page.banner_image }}">
  {% else %}
  <meta property="og:image" content="{{ "assets/img/social.jpg" | absolute_url }}" />
  <meta property="twitter:image" content="{{ "/assets/img/social.jpg" | absolute_url }}" />
  {% endif %}
  <!--     Fonts and icons     -->
  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | absolute_url }}"/>
  <link rel="stylesheet" href="{{ "https://use.typekit.net/tdn3zzp.css" | absolute_url }}" media="screen">
  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/dracula.min.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" media="screen">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KFK3WMC');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFK3WMC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
