.about-layout {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "picture"
  "content";
  grid-row-gap: 2rem;
}

.about-img {
  grid-area: picture;
  display: grid;
  justify-content: center;
}

.about-img img {
  max-width: 15rem;
  border-radius: 100%;
}

.about-content {
  grid-area: content;
  font-size: 1.375em;
}


@media only screen and (min-width: 56rem) {
  .about-layout {
    margn: 3rem 0 0 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "content picture";
  }

  .about-content {
    position: fixed;
    bottom: 1rem;
    max-width: 55vw;
    font-size: 2.1vw;
  }
}
