.blog-container {
  margin: 0 auto;
  padding: 0 3rem;
}

.blog-layout {
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 45px;
  grid-template-areas: "sidebar main";
  max-width: 1200px;
}

.blog-layout > article {
  grid-area: main;
}

.blog-layout > aside {
  grid-column: sidebar;
}

.post-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 56rem) {
    .blog-layout {
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 45px;
      grid-template-areas: "main";
      max-width: 1200px;
    }
    .blog-container {
      padding: 0;
    }
    .blog-layout > aside {
      display: none;
    }
}
