.home-layout {
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 80vw) minmax(.5rem, 1fr);
  height: 80vh;
}

.logo-wrapper {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
}

.star {
  width: 80vw;
  text-align: center;
  align-self: center;
}

.bm {
  grid-row: 1;
  height: 80vw;
}


@media only screen and (min-width: 56rem) {
  .home-layout {
    grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 20vw) minmax(.5rem, 1fr);
  }
  .star {
    grid-area: span 1;
    align-self: center;
    width: 20vw;
  }
  .bm {
    grid-row: 1;
    height: 20vw;
  }

}
