body {
  color: white;
  background-color: #000;
  font-family:  p22-underground, sans-serif;
}

h1, h3, h5 {
  font-weight: 900;
  font-style: bold;
}

h2, h4, h6 {
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  font-style: normal;
}

.name-title {
  font-family: coquette, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

figure {
  margin: 1rem 0;
}

pre {
  margin: 0;
  border-style: solid;
  border-radius: 3px;
  border-color: white;
  border-width: medium;
  background-color: #282a36;
  padding: 1.5rem;
}

code {
  font-size: 1rem;
}

.container {
  margin: 0 auto;
}


.main-content {
  min-height: calc(100vh - 114px);
  min-height: calc((var(--vh, 1vh) * 100) - 140px);
  padding: 0 3rem;
}

@media only screen and (max-width: 56rem) {
  .main-content {
    padding: 0 1rem;
  }
}
