body {
  color: white;
  background-color: #333;
}

a {
  color: white;
  text-decoration: none;
}

.main-content {
  min-height: calc(100vh - 417.7px);
  min-height: calc((var(--vh, 1vh) * 100) - 417.7px);
}
