---
layout: default
---
<div class="container blog-layout">
  <aside class="">
    Bith lasagna
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </aside>
  <article>
    {% for post in site.posts %}
    <div class="post-contents">
      <div>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <h1>{{ post.title }}</h1>
          <p>{{ post.sub_heading }}</p>
        </a>
      </div>
      <div>
        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
        <div>
          {{ post.categories }}
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </article>
</div>
