---
layout: default
---

<div class="container home-layout wow fadeIn">
  <div class="logo-wrapper">
    <div class="star">
      <div class="bm" aria-label="I make epic websites, love spirituality, and design great logos.">
        <div id="bm"></div>
      </div>

      <h2>Freelance Creative & Web Developer based in Tempe, Arizona</h2>
    </div>


  </div>
</div>


<script src="{{ "/assets/js/lottie.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/body.js" | absolute_url }}" type="text/javascript"></script>
