---
layout: default
---

<div class="container work-layout">
  {% for job in site.work %}
  <article class="work-content">
    <div class="work-feature">
      <h3>{{ job.title }}</h3>
      {% for item in job.tags %}
      <span class="work-tags">{{ item }}</span>
      {% endfor %}
      <p>
        <span class="work-tags">
          <a href="{{ job.web_address }}" target="_blank">Visit Site</a>
        </span>
        <span>
          {% if job.behance and job.behance != "" %}<a href="{{ job.behance }}" target="_blank">Behance Showcase</a>{% endif %}
        </span>
      </p>
    </div>
    <div class="work-banner">
      <img {% if job.banner_image and job.banner_image != "" %}
      src="{{ job.banner_image | absolute_url }}"
      {% else %}
      src="{{ '/img/placeholder.png' | absolute_url }}"
      {% endif %}
      title="{{ page.title }}" alt="{{ job.title }} cover photo">
      <video {% if job.video and job.video != "" %}
      src="{{ job.video | absolute_url }}"
      {% else %}
      src="{{ '/img/placeholder.png' | absolute_url }}"
      {% endif %} autoplay poster="posterimage.jpg">
      </video>
    </div>
  </article>
  {% endfor %}
</div>
