---
layout: default
---

<div class="container work-layout">
  {% for job in site.work %}
  <article class="work-content">
    <div class="work-feature">
      <h3>{{ job.title }}</h3>
      {% for item in job.tags %}
      <span class="work-tags">{{ item }}</span>
      {% endfor %}
      <p>
        <span class="work-tags">
          <a href="{{ job.web_address }}" target="_blank">Visit Site</a>
        </span>
        <span class="work-tags">
          {% if job.behance and job.behance != "" %}<a href="{{ job.behance }}" target="_blank">Behance Showcase</a>{% endif %}
        </span>
      </p>
    </div>
    <div class="work-banner"
				{% if job.banner_image and job.banner_image != "" %}
				style="background-image: url('{{ job.banner_image | absolute_url }}')"
				{% else %}
				style="background-image: url('{{ '/img/placeholder.png' | absolute_url }}')"
				{% endif %}
				title="{{ page.title }}">
		</div>
  </article>
  {% endfor %}
</div>
